<?xml version="1.0"?>
<config>
  <global>
    <models>
        <xyzcatalog>
             <class>Xyz_Catalog_Model</class>
        </xyzcatalog>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <xyz_catalog_model_price_observer>
            <type>singleton</type>
            <class>Xyz_Catalog_Model_Price_Observer</class>
            <method>orderExport</method>
          </xyz_catalog_model_price_observer>
        </observers>
      </sales_order_place_after>
    </events>
  </global>
</config>
